.navbar {
  background: #16213e;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;


  .left-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;

    .brand-container {
      width: max-content;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;


      .brand-logo {
        width: 45px;
        height: 45px;
        margin-right: 10px;
        animation: spin 6s infinite linear;
      }

      .brand-name {
        display: flex;
        color: #676b7c;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.5s ease;
    }

      &.hide {
        .brand-name {
          font-size: 0px;
          opacity: 0;
          transition: all 0.5s ease, opacity 0s ease;
        }
      }
    }

    .sidebar-toggler-btn {
      border: none;
      background: #313757;
      width: 45px;
      height: 40px;

      padding: 8px 7px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: all 0.5s ease !important;

      .bar {
        width: 80%;
        height: 2px;
        background: #676b7c;
      }
    }
  }

  .right-content-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchbar {
      border: none;
      width: 40%;
      height: 45px;
      background: #313757;
      color: #676b7c;
      font-weight: bold;
      padding: 0 20px;
    }

    .link-container {
      width: 250px;
      height: 45px;
      display: flex;
      justify-content: center;

      .link-btn {
        width: 50px;
        height: 100%;
        margin: 0 5px;
        border: none;
        background: #313757;
      }
    }
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

button, input{
    outline: none;
}