// $base-color: #16213e;
// $second-color:#313757;
// $font-color: #676b7c;

$base-color: rgba(11, 45, 120, 0.961);
$second-color:#383839;
$font-color: rgba(240, 240, 240, 0.955); //#717172;

.navbar {
  background: $base-color;
  padding: 0 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;


  .left-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 75%;

    .brand-container {
      width: max-content;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 95px;

      .brand-name {
        display: flex;
        color: $font-color;
        font-size: 1.2rem;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.5s ease;
      }

      &.hide {
        margin: 0px;

        .brand-name {
          font-size: 0px;
          opacity: 0;
          transition: all 0.5s ease, opacity 0s ease;
        }
      }
    }

    .sidebar-toggler-btn {
      border: none;
      background: none;
      width: 35px;
      height: 22px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: all 0.5s ease !important;

      .bar {
        width: 80%;
        height: 2px;
        background: $font-color;
      }

      &:hover {
        .bar {
          background: white !important;
          transition: all 0.5s ease;
        }
      }
    }
  }

  .right-content-container {
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .searchbar {
      border: none;
      width: 40%;
      height: 100%;
      background: $second-color;
      color: $font-color;
      font-weight: bold;
      padding: 0 20px;
    }

    .links-container {
      width: 150px;
      display: flex;
      padding: 0 10px;
      align-items: center;
      justify-content: space-around;

      .link-option {
        width: max-content;
        height: max-content;

        &.new-alert {
          &::after {
            content: '';
            width: 10px;
            height: 10px;
            background: rgb(226, 9, 9);
            position: absolute;
            border-radius: 50%;
            transform: translate(1px, -2px);
            transition: transform 0.5s ease;

          }

          &:hover {
            &::after {
              transform: translate(1px, -6px);
              transition: transform 0.5s ease;
            }
          }
        }
      }
    }
  }
}



button,
input {
  outline: none;
}

@media (max-width: 870px) {
    .brand-container {
      .brand-name {
        display: none;
      }

      &.hide {
        .brand-name {
          display: none;
        }
      }
    }

  .right-content-container {
    width: 50% !important;
  }
}
