<nav class="navbar mn-color" [ngClass]="{ hide: toggle }">
  <div class="left-content-container">
    <div class="brand-container">
      <a class="brand-name" routerLink="/">Sidebar</a>
    </div>
  </div>

  <div class="right-content-container">
    <!-- <input type="text" class="searchbar" placeholder="Search..." /> -->
    <div class="inputs-container">
      <button class="sidebar-toggler-btn " [ngClass]="{clicked: !toggle}" type="button" (click)="handleShow()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </button>
      <input class="searchbar" type="text" placeholder="Search..." />
    </div>

    <div class="links-container">
      <span class="link-option new-alert">
        <a href="#">
          <mail-svg></mail-svg>
        </a></span>
      <span class="link-option">
        <a href="#">
          <bell-svg></bell-svg>
        </a></span>
      <span class="link-option new-alert">
        <a href="#">
          <config-svg></config-svg>
        </a></span>
    </div>
  </div>
</nav>
