<nav class="navbar mn-color" [ngClass]="{ hide: toggle }">
  <div class="left-content-container">
    <div class="brand-container">
      <a class="brand-name fnt-white" routerLink="/">Sidebar</a>
    </div>
  </div>

  <div class="right-content-container">
    <!-- <input type="text" class="searchbar" placeholder="Search..." /> -->
    <div class="inputs-container">
      <button class="sidebar-toggler-btn " [ngClass]="{clicked: !toggle}" type="button" (click)="handleShow()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </button>
      <input class="searchbar" type="text" placeholder="Search..." />
    </div>

    <div class="links-container">
      <span class="link-option new-alert">
        <a href="#"> <i class="fnt-white icn fa fa-envelope-open fa-sm"></i> </a
      ></span>
      <span class="link-option">
        <a href="#"> <i class="fnt-white icn fa fa-bell fa-sm"></i> </a>
      </span>
      <span class="link-option">
        <a href="#"> <i class="fnt-white icn fa fa-wrench fa-sm"></i> </a>
      </span>
    </div>
  </div>
</nav>
