.products-detail-page {
  padding: 5px;
  text-align: center;

  .page-title {
    text-align: center;
margin: 15px 0px 50px 0;  }

  .products-detail-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
