.products-detail-page {
  .page-title {
    text-align: center;
  }

  .products-detail-content {
    width: 100%;
    height: max-content;
    display: flex !important;
    justify-content: center;
    flex-flow: row wrap !important;
    
  }
}
