<div class="menu-item">
  <div class="child-name-container" (click)="handleShow(); isInChildren(tree,node.id)"
    [ngClass]="{active: node.active && currentLevel === 0}" [ngClass]="{child: currentLevel  !== 0}">
    <span *ngIf="currentLevel === 0" class="icon-container">
      <img class="menu-icon" [src]="node.icon" alt="icon" />
    </span>
    <span class="name" [style.marginLeft.px]="currentLevel * 16"
      [ngClass]="{ lowlevel: currentLevel !== 0 }">{{ displayName }}
    </span>
    <span class="arrow-container" [ngClass]="{ clicked: node.active }" *ngIf="node.children">
      <img class="arrow-svg" src="../../assets/arrow.component.svg" alt="arrow"/>
    </span>
  </div>

  <div>
    <div *ngIf="node.active">
      <pm-tree-child *ngFor="let child of node.children; index as i" [node]="child" [level]="currentLevel" [tree]="tree"
        [idx]="i">
      </pm-tree-child>
    </div>
  </div>
</div>
