.menu-item {
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 15px;

  .child-name-container {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      font-size: 0.9rem;
      width: max-content;
      height: min-content;
      color: #676b7c;
      font-weight: bold;
      transition: all 0.5s ease;
    }

    .arrow-container {
      width: max-content;
      margin-bottom: 3.5px;
      transition: transform 0.5s ease;

      &.clicked {
        transition: transform 0.3s ease;
        transform: rotate(90deg);
      }

      .arrow-svg {
        fill: #606472;
      }
    }

    &:hover {
      .name {
        color: #e7e7ea;
      }

      .arrow-container {
        .arrow-svg {
          fill: #e7e7ea !important;
        }
      }
    }
  }

}

.lowlevel {
  font-size: 0.7rem !important;
}
