<app-navbar (showSidebar)="handleSidebar($event)"></app-navbar>

<div class="app">
  <app-sidebar [show]="showSidebar"></app-sidebar>

  <div class="content-container">
    <div class="background-top mn-color"></div>
    <div class="welcome">
      <h1>Welcome Back Fabian</h1>
      <h2>You have 24 new messages and 5 new notifications</h2>
    </div>
    <div class="pages-content box-shadow">
      <div class="card-content"></div>
    </div>

    <div
      class="content-overlay"
      [ngClass]="{ active: !showSidebar }"
      (click)="hideSidebar()"
    ></div>
  </div>
</div>
