.sidebar-container {

  width: 263px;
  height: 100%;
  background: #16213e;
  transition: transform 1s ease;
  transform: translateX(0%);

  .sidebar {
    padding: 30px 20px;
    width: 90%;
    height: 100%;
    color: #676b7c;
  }

  &.hide {
    transition: transform 1.5s ease;
    transform: translateX(-100%);
  }
}
