/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

//rgba(11, 45, 120, 0.961)
$main-color: rgba(11, 45, 120, 0.961);
$second-color: white;
$font-color: white;
$currentColor: red;

.mn-color {
  background: $main-color;
}

.sc-color {
  background: $second-color;
}

.fnt-white {
  color: white;
}

.arrow {
  width: 14px;
  height: 14px;
  fill: $main-color;
}

.fnt-blue {
  color: $main-color;
}

.submenu-icon {
  width: 30px;
}

a {
  color: $main-color !important;
  text-decoration: none !important;
}

.option-icon {
  fill: rgba(255, 255, 255, 0.818);
  width: 20px;
  height: 20px;
  transition: all 0.5s ease;

  &:hover {
    fill: white;
    transform: scale(1.05);
    transition: all 0.5s ease;
  }
}

.menu-icon {
  width: 30px;
  height: 20px;
  color: $main-color;
}

h1 {
  color: white !important;
  font-size: 2.1rem;
  font-weight: 400;
}

h2 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 6px 1px rgb(120, 120, 120);
  -moz-box-shadow: 0px 0px 6px 1px rgb(108, 108, 108);
  box-shadow: 0px 0px 6px 1px rgb(86, 86, 86);
}
